<!doctype html>

<html>

  <head>
    <meta charset="utf-8">
    <title>&lt;mflo-spinning-numbers&gt;</title>
    <script src="bower_components/webcomponentsjs/webcomponents-lite.min.js"></script>
    <link rel="import" href="bower_components/mflo-spinning-numbers/mflo-spinning-numbers.html">
  </head>

    <p>An example of <code>&lt;mflo-spinning-numbers&gt;</code>:</p>

    <button>Random Number</button>&nbsp;<span id="readout"></span>

    <br>
    <br>

    <script>
      document.querySelector("button").addEventListener("click", function() {
        var spinner = document.querySelector("mflo-spinning-numbers");
        var dim = Math.trunc(Math.random() * 10);
        spinner.value = Math.trunc(Math.random() * Math.pow(10, dim));
        var readout = document.querySelector("span#readout");
        readout.innerText = spinner.value;
      });
    </script>

    <style>
      mflo-spinning-numbers /deep/ #container {
        background-color: black;
        color: lightgreen;
        display: inline-block;
        min-width: 140px;
      }
    </style>

    <mflo-spinning-numbers>
    </mflo-spinning-numbers>

  </body>

</html>